
.card {
  background: white;
  text-decoration: none;
  color: #000;
}
.card:not(:nth-child(-n+4)){
  margin-top: 80px;
}

.thumb {
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: block;
}

.release-date {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 8px;
  display: block;
}

.detail-box {
  margin-top: 16px;
}

.poster {
  height: 380px;
  width: 100%;
  border-radius: 16px;
}