.card-container {
  width: 100%;
  margin: 56px auto 20px auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}


@media only screen and (min-width: 500px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }  
}

@media only screen and (min-width: 600px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.load-more-btn {
  background: rgb(104, 85, 214);
  border-radius: 12px;
  height: 56px;
  outline: none;
  border: none;
  padding: 18px 50px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #fff;
  margin: 80px auto;
  display: block;
  cursor: pointer;
}