.media-wrapper {
  width: 716px;
  display: inline-block;
}
.media-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.media-panel {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  margin-right: 32px;
}
.media-panel.active a {
  color: rgba(0, 0, 0);
}
.media-panel a {
  color: rgba(0, 0, 0, 0.54);
}
.media-panel-wrapper {
  display: inline-block;
  margin-top: 24px;
}
.media-image {
  width: 716px;
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
  margin-top: 24px;
}